/*reset*/
*{
    color: rgb(255,239,239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(66,95,116); 
    display: flex;  
    flex-direction: column;
    max-width: 98vw;
}
/*HEADER*/
header{
    background-color: rgb(125,154,172);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 38px;
}

#menuBar {  
    align-items: center;    
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 98vw;
    z-index: 1;
}

#logo {
    margin-left: 5px;
    padding-right: 10px;
}

/*Navbar*/
a {
    border-radius: 3%;
    text-decoration: none;
}

nav ul li{
    display: inline;   
}

nav ul li a{  
    padding: 5px;  
}

nav ul li a:hover{
    background-color: rgb(206, 93, 93);  
}

/*scrolling nav bar animation*/
.scrollUp {
    background-color: rgb(240,255,255);
}

.scrollUp a{
    color: rgb(16,51,81);
}

#mobileButton{
    background-image: url("common_images/hamburgerShortWhite.png");
    background-repeat: no-repeat;
    margin-right: 20px;
}

.scrollUp #mobileButton{  
    color: rgb(6, 30, 51);
    background-image: url("common_images/hamburgerShortBlue.png");
    background-repeat: no-repeat;
    margin-right: 20px;
}

.scrollUp h1{
    color: rgb(6, 30, 51);
}

.invisible {
    visibility: hidden;
}

#mobileButton {
    display: none;
  }
  
  @media (max-width: 576px) {

    #mobileButton{
        right: 20px;
    }

    #menubar{
        max-width: 100vw;
    }

    nav .responsive {
        max-width: 97vw;
    }

    #mobileButton {
        background-color: transparent;
        border: none;
        display: block;
        right: 20px;
    }

    nav ul {
      display: none;
    }
  
    nav.responsive ul {
      background-color: white;
      display: block;
      left: 0;
      position: absolute;
      top: 85px;
      width: 97vw;
    }
  
    nav.responsive ul li {
      display: block;
    }
  
    nav.responsive a {
      color: rgb(6, 30, 51);
      display: block;
    }
  }
/*back up btn*/
#up {
    bottom: 20px;
    position: fixed;
    right: 50px;
}

/*Banner*/
#heroBanner{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
}

#intro {
    align-items: center;
    padding-top: 200px;
}

#welcome {
    padding-bottom: 50px;
}

/*Main*/

img{
    display: grid;
    max-width: 97.5vw;
}

article{
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}

#content {
    background-color: rgb(29,33,36);
}

.send,
button {
    background-color: rgb(206, 93, 93); 
    border: none;
    border-radius: 2%;
    padding: 20px;
}

/*Footer*/
footer {
    background-color: rgb(6, 30, 51);
}

.email {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#conctactSection {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
}

input {
    color: rgb(6, 30, 51);
}

#conctactSection p {
    padding: 50px;
}

.icon {
    height: 25px;
    margin: 0;
    padding: 0;
    width: 25px;  
}



#emailActual {
    padding: 0;
}

#leaveSms{
    padding: 0;
}

form div {
    padding-bottom: 10px;
}

.send{
    margin: 10px;
}

#some{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.some{
    display: inline-block;
    height: 25px;
    padding: 20px;
    width: 25px;
}

#licenseSection {
    align-items: center;
    background-color: rgb(6, 30, 51);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
}
