*{
    padding: 0;
    margin: 0;
}

body{
    /*background-color: rgb(175, 104, 104);*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 60px;
}

#buttonsArea{
    display: flex;
    flex-direction:row;
}

.circle{
    background-color: blue;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px;
}

.active {
    background-color: aqua;
}

#stop, #start{
    border: none;
    /*background-color: rgb(175, 104, 104);*/
}

#stop{
    display: none;
}

#overlay{
    background-color: rgba(17, 17, 17, 0.692);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#modal{
    background-color: antiquewhite;
    position: relative;
    width: 40%;
    min-height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

#closeOverlay{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    background-color: antiquewhite;
    border: none;
}

.invisible{
    visibility: hidden;
}
