*{
    padding: 0;
    margin: 0;
}

#game{
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(30, 27, 27);
    color: azure;
}

h1 {
    font-size: 60px;
}

#buttonsArea{
    display: flex;
    flex-direction:row;
}

.imageContainer{
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle{
    background-color: rgb(239, 239, 247);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px;
}

.active {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 10px azure;
}

#stop, #start{
    border: none;
    /*background-color: rgb(175, 104, 104);*/
}

#stop{
    display: none;
}

#overlay{
    background-color: rgba(17, 17, 17, 0.692);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay h3{
    color: darkblue;
}

#modal{
    background-color: antiquewhite;
    color: darkblue;
    position: relative;
    width: 40%;
    min-height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
#modal p{
    color: darkblue;
}


#closeOverlay{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0);
    color: darkblue;
    border: none;
}

.invisible{
    visibility: hidden;
}

.button{
    background-color: blueviolet;
    padding: 15px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 30px;
    box-shadow: 0 0 10px aliceblue;
}
